@import '../shared/breakpoints';
@import '../shared/colors';
@import url('https://fonts.googleapis.com/css?family=Rubik One');

#header {
  position: relative;
  z-index: 99999;

  @include toUp('lg') {
    max-width: 1280px;
  }

  max-width: 960px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #nav {
    white-space: nowrap;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    @include toUp('lg') {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;

      a {
        font-family: Noto Sans TC;
        font-weight: 700;
        font-size: 20px;
      }

      a.active {
        text-decoration: underline;
      }
    }

    @include toDown('md') {
      position: fixed;
      width: 0;
      height: 100dvh;
      right: 0;
      top: 0;
      padding: 100px 0;

      overflow-x: hidden;
      overflow-y: auto;
      font-size: 20px;

      display: flex;
      flex-direction: column;
      row-gap: 70px;
      align-items: center;

      background: $background-dark;
      background-image: url('../../images//SITCON\ team.svg');
      background-repeat: no-repeat;
      background-position: center 100%;
      opacity: 0.9;
      backdrop-filter: blur(10px);

      &.active {
        width: 100vw;
      }
    }
  }

  .close {
    @include toUp('lg') {
      display: none;
    }
    @include toDown('md') {
      display: block;
    }

    position: fixed;
    box-sizing: content-box;
    top: 50px;
    right: 50px;
    border: 2px solid $text-dark-primary;
    border-radius: 50%;
    padding: 3px;
    font-size: 1em;
  }

  .caption {
    font-family: Rubik One;
    font-weight: 400;
    font-size: 28px;
    line-height: 33.6px;
    text-align: center;
    margin: 0 10px;
  }

  .mobile-options {
    @include toUp('lg') {
      display: none;
    }
    @include toDown('md') {
      display: flex;
    }
    align-items: center;
    column-gap: 20px;

    button {
      font-size: 1.2em;
    }
  }

  svg {
    font-size: 32px;
  }
}
