#root {
  padding: 15px 30px;
  z-index: -1;
  position: relative;

  .init {
    width: 75%;
    max-width: 980px;
    height: auto;
    margin: auto;
    display: block;
  }

  .cover {
    padding: 30px 50px;

    font-family: Noto Sans TC;
    font-size: clamp(22px, 3.5vw, 30px);
    font-weight: 700;

    @include toUp('lg') {
      min-height: 550px;
    }

    @include toDown('md') {
      padding: 30px 0px;
    }

    .row {
      display: flex;
      gap: 30px;

      @include toUp('lg') {
        justify-content: space-between;
        align-items: center;
      }

      @include toDown('md') {
        flex-direction: column;
      }
    }

    .info p {
      margin: 10px 0;
      @include toDown('md') {
        text-align: center;
      }
    }

    .links {
      display: flex;
      justify-content: space-evenly;
      gap: 25px;
    }
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 9 / 5;
    overflow-y: hidden;
    z-index: -2;

    @include toUp('lg') {
      position: absolute;
      top: 60px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .topic {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    border: 1px white solid;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    position: relative;
    line-height: 200%;
    padding: clamp(50px, 10vw, 100px) clamp(50px, 10vw, 100px) calc(clamp(50px, 10vw, 100px) + 50px);
    font-size: 20px;

    h1 {
      font-family: Noto Sans TC;
      font-size: 1.5em;
      font-weight: 700;
    }

    h2 {
      font-family: Russo One;
      font-weight: 400;
      line-height: 48px;
      color: #73bb3a;
      font-size: 2.4em;
      margin: 20px 0;
    }

    section {
      padding: 15px 0;
    }

    &::after {
      content: 'SITCON Hackathon';
      font-family: Rubik One;
      font-size: 24px;
      font-weight: 400;
      color: #ffffff66;

      display: block;
      position: absolute;
      bottom: 30px;
      right: clamp(50px, 10vw, 100px);
    }
  }

  .vision,
  .coc,
  .discuss {
    padding: 5px 20px;
    margin-top: 100px;
    font-size: clamp(18px, 3.5vw, 24px);
    position: relative;

    h1 {
      font-family: Noto Sans TC;
      font-size: 2em;
      font-weight: 700;
    }

    img {
      display: block;
      width: 90%;
      max-width: 700px;
      height: auto;
      margin: 30px auto;
    }

    section {
      margin: 50px auto;
      font-size: 1em;
    }
  }

  .btns {
    display: flex;
    width: 75%;
    margin: 20px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    a {
      padding: 20px 30px;
    }
  }
}
