#not-found {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;

  font-size: 24px;

  a {
    padding: 18px 24px;
    margin: 20px 0;
  }
}
