/* .MuiTableBody-root tr:first-child td:first-child { border-top-left-radius: 10px; }
.MuiTableBody-root tr:first-child td:last-child { border-top-right-radius: 10px; }

.MuiTableBody-root tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.MuiTableBody-root tr:last-child td:last-child { border-bottom-right-radius: 10px; } */