.btn-color {
  $borderWidth: 2px;

  padding: 10px 15px;
  background: linear-gradient(
      90deg,
      rgba(61, 51, 147, 0.4) 0%,
      rgba(43, 118, 185, 0.4) 31.5%,
      rgba(44, 172, 209, 0.4) 58%,
      rgba(53, 235, 147, 0.4) 81%,
      rgba(115, 187, 58, 0.4) 100%
    )
    border-box;

  border-radius: 1024px;
  position: relative;
  white-space: nowrap;
  color: $text-dark-primary;

  &::after {
    content: '';

    background: linear-gradient(90deg, #3d3393 0%, #2b76b9 31.5%, #2cacd1 58%, #35eb93 81%, #73bb3a 100%) border-box;
    border: $borderWidth solid transparent;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    mask: linear-gradient(white 0 0) padding-box, linear-gradient(white 0 0);
    mask-composite: exclude;

    border-radius: 1024px;
    z-index: -1;
  }

  &:hover {
    background: linear-gradient(
        90deg,
        rgba(61, 51, 147, 1) 0%,
        rgba(43, 118, 185, 1) 31.5%,
        rgba(44, 172, 209, 1) 58%,
        rgba(53, 235, 147, 1) 81%,
        rgba(115, 187, 58, 1) 100%
      )
      border-box;
  }
}
