@import './base';
@import './components';
@import './shared';
@import './pages';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@include reset();

body {
  background-color: $background-dark;
  color: $text-dark-primary;

  overflow-x: hidden;
}
